<!--Inicia Profile-->
<%- include ('../general/header') %>
<%- include ('../general/navbar') %>
<body style="background-color: white; margin-bottom: 2em; margin-top: -3em">
  <div class="container" style="max-width: 300px; padding: 0">
    <div class="row" style="margin-top: 8rem;">
      <div class="col-12 text-center tu-puesto">
        <h1 style="padding-top: 1rem;">Mi Perfil</h1>
      </div>
      <div class="col-12 text-center">
        <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M60 25.7143C55.7618 25.7143 51.6188 26.9711 48.0949 29.3257C44.571 31.6803 41.8245 35.0269 40.2026 38.9425C38.5807 42.8581 38.1563 47.1666 38.9832 51.3234C39.81 55.4801 41.8509 59.2983 44.8477 62.2951C47.8445 65.292 51.6628 67.3329 55.8195 68.1597C59.9762 68.9865 64.2848 68.5622 68.2004 66.9403C72.1159 65.3184 75.4626 62.5718 77.8172 59.0479C80.1718 55.524 81.4286 51.381 81.4286 47.1429C81.4286 41.4597 79.1709 36.0092 75.1523 31.9906C71.1336 27.9719 65.6832 25.7143 60 25.7143Z"
            fill="#313967" />
          <path
            d="M60 0C48.1331 0 36.5327 3.51894 26.6658 10.1118C16.7989 16.7047 9.10851 26.0754 4.56725 37.039C0.025997 48.0025 -1.1622 60.0665 1.15291 71.7054C3.46802 83.3443 9.18247 94.0352 17.5736 102.426C25.9648 110.818 36.6557 116.532 48.2946 118.847C59.9335 121.162 71.9975 119.974 82.961 115.433C93.9246 110.891 103.295 103.201 109.888 93.3342C116.481 83.4672 120 71.8669 120 60C119.982 44.0926 113.655 28.8419 102.406 17.5936C91.1581 6.34539 75.9074 0.0181488 60 0ZM94.2514 98.2543C94.166 92.6328 91.8757 87.2699 87.8739 83.3211C83.8721 79.3722 78.4792 77.1534 72.8571 77.1428H47.1429C41.5208 77.1534 36.1279 79.3722 32.1261 83.3211C28.1243 87.2699 25.834 92.6328 25.7486 98.2543C17.9767 91.3146 12.496 82.178 10.0322 72.0543C7.56833 61.9305 8.23759 51.2972 11.9513 41.5622C15.6651 31.8273 22.2481 23.45 30.8288 17.5396C39.4094 11.6291 49.5829 8.46439 60.0022 8.46439C70.4214 8.46439 80.5949 11.6291 89.1756 17.5396C97.7562 23.45 104.339 31.8273 108.053 41.5622C111.767 51.2972 112.436 61.9305 109.972 72.0543C107.508 82.178 102.028 91.3146 94.2557 98.2543H94.2514Z"
            fill="#313967" />
        </svg>
        <p>
          <%=rows[0].nombre%>
        </p>
        
      </div>
      <div class="col-12" style="border: solid 1px gray; border-radius: 5px; padding: 0; display: flex;
        flex-direction: column; background-color: white; ">
        <div style="display: flex; border-bottom: solid 1px gray; padding: 1em 0;">
          <div style="flex: 1; display: flex; justify-content: center; align-items: center;">
            <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect opacity="0.1" width="38" height="38" rx="19" fill="#34AA44" />
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M23.8262 14.0762C24.0536 13.8508 24.3606 13.7239 24.6808 13.723C25.0011 13.7221 25.3088 13.8473 25.5374 14.0715C25.7661 14.2957 25.8973 14.6008 25.9028 14.921C25.9082 15.2412 25.7875 15.5506 25.5666 15.7825L19.0796 23.8912C18.9681 24.0113 18.8335 24.1077 18.6839 24.1746C18.5344 24.2415 18.3728 24.2775 18.209 24.2805C18.0452 24.2836 17.8824 24.2535 17.7304 24.1922C17.5785 24.1309 17.4404 24.0396 17.3246 23.9237L13.0265 19.624C12.9067 19.5124 12.8107 19.3778 12.7441 19.2283C12.6774 19.0788 12.6416 18.9175 12.6387 18.7538C12.6359 18.5902 12.666 18.4276 12.7273 18.2759C12.7885 18.1241 12.8798 17.9863 12.9955 17.8705C13.1112 17.7548 13.2491 17.6636 13.4009 17.6023C13.5526 17.541 13.7152 17.5109 13.8788 17.5138C14.0424 17.5166 14.2038 17.5525 14.3533 17.6191C14.5028 17.6857 14.6374 17.7817 14.749 17.9015L18.1517 21.3026L23.7953 14.112C23.8054 14.0994 23.8162 14.0874 23.8278 14.0762H23.8262Z"
                fill="#34AA44" />
            </svg>
          </div>
          <div style="padding: 0; margin: 0; flex: 3">
            <p style="font-weight: 750; padding: 0; margin: 0">Email:</p>
            <p style="padding: 0; margin: 0; color: gray">
              <%=rows[0].mail%>
            </p>
          </div>
        </div>
        <!--cambiar contrase침a-->
        <a href="/api/miperfil/password/id%>"  
          style="text-decoration: none; margin: 0; color: black">
          <div style="display: flex;border-bottom: solid 1px gray;padding: 1em 0;">
            <div style="flex: 1;display: flex;justify-content: center;align-items: center;">
              <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect opacity="0.1" width="38" height="38" rx="19" fill="#23286B" />
                <path
                  d="M24 14H29V24H24V26C24 26.2652 24.1054 26.5196 24.2929 26.7071C24.4804 
                                    26.8946 24.7348 27 25 27H27V29H24.5C23.95 29 23 28.55 23 28C23 28.55 22.05 29 21.5 29H19V27H21C21.2652 27 21.5196 26.8946 21.7071 26.7071C21.8946 26.5196 22 26.2652 22 26V12C22 11.7348 21.8946 11.4804 21.7071 11.2929C21.5196 11.1054 21.2652 11 21 11H19V9H21.5C22.05 9 23 9.45 23 10C23 9.45 23.95 9 24.5 9H27V11H25C24.7348 11 24.4804 11.1054 24.2929 11.2929C24.1054 11.4804 24 11.7348 24 12V14ZM9 14H20V16H11V22H20V24H9V14ZM27 22V16H24V22H27ZM15.5 19C15.5 18.6022 15.342 18.2206 15.0607 17.9393C14.7794 17.658 14.3978 17.5 14 17.5C13.6022 17.5 13.2206 17.658 12.9393 17.9393C12.658 18.2206 12.5 18.6022 12.5 19C12.5 19.3978 12.658 19.7794 12.9393 20.0607C13.2206 20.342 13.6022 20.5 14 20.5C14.3978 20.5 14.7794 20.342 15.0607 20.0607C15.342 19.7794 15.5 19.3978 15.5 19V19ZM20 17.89C19.39 17.33 18.44 17.38 17.88 18C17.32 18.6 17.37 19.55 18 20.11C18.55 20.63 19.43 20.63 20 20.11V17.89V17.89Z"
                  fill="#23286B" />
              </svg>
            </div>
            <div style=" padding: 0;margin: 0;flex: 3; display: flex; flex-direction: column;justify-content: center;">
              <p style="font-weight: 750; padding: 0; margin: 0">
                Cambiar contrase침a
              </p>
            </div>
          </div>
          <!--Cerrar sesi칩n-->
          <a href="/api/logout" style="text-decoration: none; margin: 0; color: black">
            <div style="display: flex;border-bottom: solid 1px gray;padding: 1em 0;">
              <div style="flex: 1;display: flex;justify-content: center;align-items: center;">
                <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect opacity="0.1" width="38" height="38" rx="19" fill="#23286B" />
                  <path
                    d="M10 13C10 12.4696 10.2107 11.9609 10.5858 11.5858C10.9609 11.2107 11.4696 11 12 11H21C21.5304 11 22.0391 11.2107 22.4142 11.5858C22.7893 11.9609 23 12.4696 23 13V15C23 15.2652 22.8946 15.5196 22.7071 15.7071C22.5196 15.8946 22.2652 16 22 16C21.7348 16 21.4804 15.8946 21.2929 15.7071C21.1054 15.5196 21 15.2652 21 15V13H12V25H21V23C21 22.7348 21.1054 22.4804 21.2929 22.2929C21.4804 22.1054 21.7348 22 22 22C22.2652 22 22.5196 22.1054 22.7071 22.2929C22.8946 22.4804 23 22.7348 23 23V25C23 25.5304 22.7893 26.0391 22.4142 26.4142C22.0391 26.7893 21.5304 27 21 27H12C11.4696 27 10.9609 26.7893 10.5858 26.4142C10.2107 26.0391 10 25.5304 10 25V13ZM25.293 15.293C25.4805 15.1055 25.7348 15.0002 26 15.0002C26.2652 15.0002 26.5195 15.1055 26.707 15.293L29.707 18.293C29.8945 18.4805 29.9998 18.7348 29.9998 19C29.9998 19.2652 29.8945 19.5195 29.707 19.707L26.707 22.707C26.5184 22.8892 26.2658 22.99 26.0036 22.9877C25.7414 22.9854 25.4906 22.8802 25.3052 22.6948C25.1198 22.5094 25.0146 22.2586 25.0123 21.9964C25.01 21.7342 25.1108 21.4816 25.293 21.293L26.586 20H17C16.7348 20 16.4804 19.8946 16.2929 19.7071C16.1054 19.5196 16 19.2652 16 19C16 18.7348 16.1054 18.4804 16.2929 18.2929C16.4804 18.1054 16.7348 18 17 18H26.586L25.293 16.707C25.1055 16.5195 25.0002 16.2652 25.0002 16C25.0002 15.7348 25.1055 15.4805 25.293 15.293Z"
                    fill="#23286B" />
                </svg>
              </div>
              <div style="padding: 0;margin: 0;flex: 3;display: flex; flex-direction: column;justify-content: center;">
                <p style="font-weight: 750; padding: 0; margin: 0; flex: 3">
                  Cerrar sesi칩n
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div style="margin-top: 15%;"></div>
  <%- include('../general/footer') %>
  </body>
</html>